<mat-card>
    <mat-card-title>Nova Postagem</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Título da Publicação"
                [(ngModel)] ="postagem.titulo" name="titulo">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Texto Adicional (Opcional)"
            [(ngModel)] ="postagem.texto" name="texto">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Link para a imagem"
            [(ngModel)] ="postagem.link" name="link">
        </mat-form-field>
    </form>

<button mat-raised-button (click)="criarPostagem()" color="primary">
    Salvar
</button>

<button mat-raised-button (click)="cancelar()">
    Cancelar
</button>